/*
light yellow: #ecd317
yellow: #cab209
dark yellow: #ad960e

black: #000000
white: #ffffff
*/

#we-are {
	display: inline;
	font-size: 4em;
}
#slogan {

}

.section p {
	font-size: 2em;
	margin-left: 40px;
	margin-right: 40px;
}
.section h3 {
	font-size: 3em;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.fp-controlArrow {
	margin-right: 40px;
	margin-left: 40px;
}


img, button {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

::-moz-selection {
	background: #cab209;
	color: #fff;
}
::selection {
	background: #cab209;
	color: #fff;
}

#section-1 {
	background: rgb(236,211,23);
	background: linear-gradient(135deg, rgba(236,211,23,1) 0%, rgba(202,178,9,1) 35%, rgba(173,150,14,1) 100%);

}
#top-logo, #top-logo-coin {
	top: 0;
	display: block;
	margin: auto;
}
#top-logo-coin {
	margin-top: -592px;
	animation: float 2s ease-in-out infinite;
	/*animation: weirdspin 3s infinite;*/
}

@keyframes weirdspin {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
	50% {
		transform: rotate3d(0, 1, 1, 180deg);
	}
	100% {
		transform: rotate3d(0, 1, 0, 360deg);
	}
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}


#top-logo {
	/*width: 600px;*/
}
.event-img {
	margin: 10px;
	background-color: #fff;
	box-shadow: 6px 6px 0px #000;
}
.team-img {
	width: 128px;
	margin: 20px;
	border-radius: 100%;
}

input {
	width: 200px !important;
	margin: auto;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	#top-logo {
		/*width: 60%;*/
	}
	#top-logo, #top-logo-coin {
		height: 300px;
	}
	#top-logo-coin {
		margin-top: -300px;
	}

	.team-img {
		width: 96px;
		margin: 10px;
	}
}
