/*
light yellow: #ecd317
yellow: #cab209
dark yellow: #ad960e

black: #000000
white: #ffffff
*/

#we-are {
	display: inline;
	font-size: 4em;
}
#slogan {

}

.section p {
	font-size: 2em;
	margin-left: 40px;
	margin-right: 40px;
}
.section h3 {
	font-size: 3em;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.fp-controlArrow {
	margin-right: 40px;
	margin-left: 40px;
}


img, button {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #cab209;
	color: #fff;
}
::selection {
	background: #cab209;
	color: #fff;
}

#top-logo {
	width: 600px;
}
.event-img {
	/*border: 4px solid #000;*/
	margin: 10px;
}
.team-img {
	width: 128px;
	margin: 20px;
	/*border: 4px solid #000;*/
	border-radius: 100%;
}

.event-img:hover, .team-img:hover {
	cursor: pointer;
	background-color: #fff;
	box-shadow: 6px 6px 0px #000;
}

@media (max-width: 768px) {
	#top-logo {
		width: 60%;
	}
	.team-img {
		width: 96px;
		margin: 10px;
	}
}
