/*
light yellow: #ecd317
yellow: #cab209
dark yellow: #ad960e

black: #000000
white: #ffffff
*/

/* reset */
img, button, a {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

::-moz-selection {
	background: #cab209;
	color: #fff;
}
::selection {
	background: #cab209;
	color: #fff;
}

/* basics */
header {
	position: fixed;
	z-index: 99;
	width: 100%;
}

a {
	cursor: pointer;
}
a.active {
	transition: 0.25s linear color;
	color: #ecd317;
	/*font-weight: bold;*/
}

.section {
	padding-left: 3rem;
	padding-right: 3rem;
	font-family: Roboto, Helvetica, Arial;
}

/* dots */
#fp-nav ul li a span {
	background: #fff;
}

/* front page */
#we-are {
	margin-top: 2rem;
}
#top-text {
	text-align: left;
}
#top-logo, #top-logo-coin {
	display: block;
	margin: auto;
	width: 370px;
	height: 296px;
}
#top-logo-coin {
	margin-top: -296px;
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	#we-are {
		margin-top: -2rem;
	}
	#top-logo, #top-logo-coin {
		width: 185px;
		height: 148px;
		margin-top: 8rem;
	}
	#top-logo-coin {
		margin-top: -148px;
	}
	h1:not(#we-are) {
		margin-top: 4rem;
	}
}
